@font-face {
  font-family: "FuturaBT";
  src: url(../fonts/futura\ medium\ bt.ttf);
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.page-logo {
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  color: #424f57;
  font-family: "Roboto", sans-serif;
}
.color-logo {
  font-weight: 900;
  color: #14afca;
  text-transform: uppercase;
}
.menu-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #3e4c4e;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  transition: color 500ms ease;
  font-family: "Open Sans", sans-serif;
}
.menu-link:hover {
  color: #14afca;
}
.navigation {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 6px;
  list-style-type: none;
  display: flex;
  gap: 50px;
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 37px;
}
.page-title {
  font-family: "FuturaBT";
  font-size: 52px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 149px;
  padding-bottom: 134px;
}
.page-title1 {
  margin-top: 0;
  margin-bottom: 0;
}
.page-header {
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 50px;
}
.paralax {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 30px;
}

.paralax::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateZ(-150px);
  background: center/cover no-repeat;
}
.paralax1::before {
  background-image: url(../image/bg1.jpg);
}
.background-header {
  background-color: #ffffff;
}
.information-block {
  padding-top: 122px;
  padding-bottom: 90px;
  text-align: center;
}
.text-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;
  color: #14afca;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
}
.information-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #424f57;
  font-family: "Open Sans", sans-serif;
}
.subtext-information {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #424f57;
  font-family: "Roboto", sans-serif;
}
